.column{
	width: 50%;
	padding: 2%;
	float: center;}
.column-third{
	width: 33%;
	padding: 2%;
	float: center;}
.header{
	margin:75px;}
.gap{
	margin:25px;}
.box{
	margin: 20px;
   padding:20px;
   background-color: rgba(0,0,0,0.6);
	border: 5px solid rgba(0,221,156,0.5);}
body{
   background-image: url('untitled.png');
   background-repeat: no-repeat;
   text-align: center;
	width: 85%;
	max-width:85em;
	margin: 1em auto;
	font-family: monospace;
	color: rgba(255,255,255,1);
	background-color:Black;}
h1{
    color: rgba(0,221,156,0.5);}
h2{
    color: rgba(0,221,156,0.5);}
img{
	border: 4px solid rgba(0,221,156,0.5);}
a{
    color: White;}
